<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <h1>Movie List</h1>
        <ul>
            <% movies.forEach( el => { %>
            <li class="movieName" data-id="<%=el._id%>">
                <span><%= el.movieName %></span>
                <span class="del"> Delete </span>
            </li>
            <% }) %>
        </ul>

        <h2>
            <%= user.userName %> has <%= moviesLeft === 1 ? '1 movie' :
            `${moviesLeft} movies` %> left to watch.
        </h2>

        <form action="/movies/searchMovie" method="post">
            <input
                type="search"
                name="movieName"
                placeholder="Enter Movie Title"
            />
            <input type="submit" />
        </form>

        <div class="result">
            <% if (movieTitle !== null) {%>
            <h2><%= movieTitle %></h2>
            <% } %>
            <ul>
                <li></li>
            </ul>
        </div>

        <!-- <form action="/movies/addMovie" method="POST">
            <input
                type="text"
                placeholder="Enter Movie Name"
                name="movieName"
            />
            <input type="submit" />
        </form> -->

        <a href="/logout">Logout</a>

        <script src="js/main.js"></script>
    </body>
</html>
