<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/pico.min.css" />
    </head>
    <body>
        <form action="/movies/search" method="get">
            <label for="movieName">Search for a movie: </label>
            <input type="search" name="movieName" placeholder="Movie Title" />
            <input type="submit" />
        </form>

        <a href="/movies">Go Back to Your List</a>

        <div class="result">
            <% if (movieTitle !== null || movieTitle !== undefined) {%>
            <h2 id="movieName"><%= movieTitle %></h2>
            <% } %>
            <h2 id="movieYear"><%= movieYear %></h2>
            <img src="<%= moviePoster %>" alt="<%= movieTitle %> Poster" />

            <% if (movieRatings !== null) {%>
            <h3>
                <%= movieRatings[0].Source %>
                <span><%= movieRatings[0].Value %></span>
            </h3>
            <h3>
                <%= movieRatings[1].Source %>
                <span><%= movieRatings[1].Value %></span>
            </h3>
            <h3>
                <%= movieRatings[2].Source %>
                <span><%= movieRatings[2].Value %></span>
            </h3>
            <% } %>

            <button id="addMovie">
                <%= movieOnList === false ? 'Add to List' : 'Remove from List'
                %>
            </button>
        </div>

        <a href="/logout">Logout</a>

        <script src="/js/main.js"></script>
    </body>
</html>
