<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search | MoviePass</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body
    class="bg-neutral-900 text-white text-center flex flex-col h-screen justify-between"
  >
    <header class="py-6 px-12 bg-neutral-700">
      <nav class="flex justify-center md:justify-end items-center">
        <ul class="flex">
          <li class="mr-2"><a href="/movies" class="p-2">My List</a></li>
          <li><a href="/logout" class="p-2">Log Out</a></li>
        </ul>
      </nav>
    </header>

    <% if (!movies.length) { %>
    <h2 class="text-2xl md:text-4xl mt-6 md:mt-12">Movie not found</h2>
    <% } %>

    <h2 class="text-2xl md:text-4xl mt-6 md:mt-12">
      Results for <span class="text-teal-400">'<%= movieName %>'</span>
    </h2>

    <form action="/movies/search" method="get" class="mt-6 px-8">
      <label for="movieName">Search for a movie: </label>
      <input
        type="search"
        name="movieName"
        placeholder="Movie Title"
        class="py-2 px-4 text-neutral-900 rounded-2xl"
      />
      <input
        type="submit"
        value="Search"
        class="bg-neutral-700 my-4 py-2 px-4 rounded-2xl"
      />
    </form>

    <section class="flex justify-around items-center mt-4 md:mt-12 h-auto">
      <div
        class="results flex flex-col md:flex-row justify-around items-center flex-wrap text-center md:w-3/5"
      >
        <% for (let i = 0; i < 15; i++) { %> <% if (movies[i]) { %>
        <div
          class="card flex flex-col justify-center items-center my-8 p-6 bg-neutral-700 rounded-2xl"
          id="<%= movies[i].id %>"
        >
          <h2 class="h-20 align-middle">
            <a href="https://www.themoviedb.org/movie/<%= movies[i].id %>">
              <%= movies[i].title %> <% if (movies[i].release_date) { %> (<%=
              movies[i].release_date.split('-')[0] %>) <% } %>
            </a>
          </h2>
          <img
            class="movie-poster"
            src="https://image.tmdb.org/t/p/original<%= movies[i].poster_path %>"
            onerror="this.src='../img/not-found.png'; this.alt='movie poster not found'"
            alt="<%= movies[i].title %> Movie Poster"
          />
          <button
            class="<%= movies[i].id %> mt-2 md:mt-4"
            onclick="addMovie(<%= movies[i].id %>, '<%= movies[i].title %>', <% if (movies[i].release_date) { %> <%=
              movies[i].release_date.split('-')[0] %> <% } %>)"
          >
            <%= movies[i].onList == false ? 'Add to List' : 'Remove from List'%>
          </button>
        </div>
        <% } %> <% } %>
      </div>
    </section>

    <footer class="py-6 px-12 mt-12 w-full bg-neutral-700">
      <h3>Created by <a href="https://kylerriggs.com">Kyler Riggs</a></h3>
    </footer>

    <script src="/js/main.js"></script>
  </body>
</html>
