<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search | MoviePass</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body class="bg-darkest-grey text-off-white text-center">
    <header class="py-6 px-12 bg-darker-grey">
      <nav class="flex justify-center md:justify-around items-center">
        <ul class="flex">
          <li>
            <a
              href="/changelog"
              class="p-2 hover:text-teal hover:transition-color
              hover:duration-300 active:text-med-teal active:transition-colors
              active:duration-300 motion-reduce:hover:transition-none"
              >Changelog</a
            >
          </li>
        </ul>
        <ul class="flex">
          <% if (user !== undefined) { %>
          <li>
            <a
              href="/lists"
              class="p-2 hover:text-teal hover:transition-color
              hover:duration-300 active:text-med-teal active:transition-colors
              active:duration-300 motion-reduce:hover:transition-none"
              >My Lists</a
            >
          </li>
          <li>
            <a
              href="/logout"
              class="p-2 hover:text-teal hover:transition-color
              hover:duration-300 active:text-med-teal active:transition-colors
              active:duration-300 motion-reduce:hover:transition-none"
              >Log Out</a
            >
          </li>
          <% } else { %>
          <li>
            <a
              href="/login"
              class="p-2 hover:text-teal hover:transition-color
              hover:duration-300 active:text-med-teal active:transition-colors
              active:duration-300 motion-reduce:hover:transition-none"
              >Login</a
            >
          </li>
          <li>
            <a
              href="/signup"
              class="p-2 hover:text-teal hover:transition-color
              hover:duration-300 active:text-med-teal active:transition-colors
              active:duration-300 motion-reduce:hover:transition-none"
              >Sign Up</a
            >
          </li>
          <% } %>
        </ul>
      </nav>
    </header>

    <%- include('partials/searchmovies') -%> <% if (!movies.length) { %>
    <div>
      <h2 class="text-2xl md:text-4xl mt-6 md:mt-12">Movie not found</h2>
    </div>
    <% } else { %>
    <h2 class="text-2xl md:text-4xl mt-6 md:mt-12">
      Results for <span class="text-teal">'<%= movieName %>'</span>
    </h2>
    <% if (user !== undefined) { %>
    <h3 class="mt-6">
      Currently Active List:
      <a
        href="/lists/<%= activeId %>"
        class="underline underline-offset-2 hover:text-teal
        hover:transition-color hover:duration-300 active:text-med-teal
        active:transition-colors active:duration-300
        motion-reduce:hover:transition-none"
        ><%= activeList %></a
      >
    </h3>
    <% } %>
    <main class="flex justify-around items-center mt-4 md:mt-12 h-auto">
      <div
        class="results flex flex-col md:flex-row justify-around items-stretch
        flex-wrap text-center md:w-3/5"
      >
        <% for (let i = 0; i < 15; i++) { %> <% if (movies[i]) { %>
        <div
          class="card flex flex-col items-stretch justify-center my-8 p-6
          bg-darker-grey rounded-2xl"
          id="<%= movies[i].id %>"
        >
          <h2 class="my-auto">
            <a
              href="https://www.themoviedb.org/movie/<%= movies[i].id %>"
              class=""
            >
              <%= movies[i].title %> <% if (movies[i].release_date) { %> (<%=
              movies[i].release_date.split('-')[0] %>) <% } %>
            </a>
          </h2>
          <img
            class="movie-poster mt-4"
            src="https://image.tmdb.org/t/p/original
            <%= movies[i].poster_path %>"
            onerror="this.src='../img/not-found.png';
            this.alt='movie poster not found'"
            alt="<%= movies[i].title %> Movie Poster"
          />
          <% if (user !== undefined) { %>
          <form action="../movies/addMovie" method="post" class="inline mt-4">
            <input type="hidden" name="movieId" value="<%= movies[i].id %>" />
            <button type="submit" class="<%= movies[i].id %> mt-auto">
              <iconify-icon
                inline
                icon="<%= movies[i].onList == false ?
                       'ci:list-plus' : 'ci:list-minus' %>"
                width="36"
                height="36"
                class="md:text-2xl hover:-translate-y-0.5 active:-translate-y-1
                hover:transition-transform active:transition-all duration-300
                motion-reduce:hover:-translate-y-0
                motion-reduce:active:-translate-y-0"
                aria-label="<%= movies[i].onList == false ?
                             'add movie to list' : 'remove movie from list' %>"
              ></iconify-icon>
            </button>
          </form>
          <% } %>
        </div>
        <% } %> <% } %>
      </div>
    </main>
    <% } %>
    <script
        src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"
        >
    </script>
  </body>
</html>
